!Bi variate analysis p-value check.ipynb
!restaurant_votes.jpg
!sai zomato practise.ipynb
!scatter plot for zomato dataset.jpg
!wine quality chart.png
!zomato practise.ipynb
!zomato restaurants.ipynb
!bi variate analysis using zomato.ipynb
!cost vs votes zomato with trendline.jpg
!cuda supported data analysis.ipynb
!multi-variate PCA manuall.ipynb
!multivariate PCA .ipynb
!Numpy.ipynb
!Pandas.ipynb
!restaurant_votes.jpg
!sai zomato practise.ipynb
!scatter plot for zomato dataset.jpg
!wine quality chart.png
!variance and standard deviation.ipynb
!zomato mini datset.ipynb
!zomato restaurants.ipynb
!bi variate analysis using zomato.ipynb